<mat-toolbar color="primary">
    <span>Facturas</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/home">Facturas</button>
    <button mat-button routerLink="/home/clientes">Clientes</button>
    <button mat-button routerLink="/home/balance">Balance Total</button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon routerLink="/logout">logout</mat-icon>
    </button>
</mat-toolbar>